<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My first page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias numquam quibusdam labore iste deserunt at earum odit suscipit atque, temporibus nisi delectus molestiae autem sit a necessitatibus placeat obcaecati quod neque repudiandae error eaque.</p>
</body>
</html>