<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>Instagram</h1>
    <h2>@<%= username %></h2>
    <button>Follow</button>
    <button>Share</button>

    <h1>Value is: <%= val %></h1>
    <%if (val == 6){%>
        <p>You are a lucky winner!! Don't refresh the page. Enter this code in the input box below and win prize: <b>y483gnvaefi34</b></p>
        <label for="">Code:</label>
        <input type="text" name="" id="">
        <button type="submit">Submit</button>
    <% } %>
</body>
</html>