body{
    margin: 0;
    border: 12px solid rgb(44, 147, 216);
}
.posts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    display: inline;
    max-width: 150px;
}